body {
    background-color: #000;
    color: #fff;
    margin: 0;
    font-family: 'Arial', sans-serif;
  }
  
  .all-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: auto;
  }
  
  .wrapper {
    margin-top: 20px; 
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  .logo {
    height: 50px;
    margin-left: 0px;
  }
  .code-input{
    width: 350px;
    height: 70px;
    margin-left: 150px;
  }
  .guide-text{
    display: flex;
    justify-content: center;
    width: 650px;
  }
  .verification-header{
    display: flex;
    justify-content: center;
  }
  
  .logo-wrapper {
    margin-right: 50px; 
  }
  .inner-box2{
    background-color: #36454f;
    border-radius: 10px;
    margin-top: 150px;
    height: 450px;
    width: 700px;
  }
  
  .top-bar {
    display: flex;
    margin-left: 10px; 
    margin-right: 10px; 
  }
  
  h2 {
    font-size: 3rem;
    color: #fff;
  }
  
  p {
    font-size: 1.5rem;
    color: #fff;
  }
  
  input {
    padding: 10px;
    width: 100%; 
    box-sizing: border-box;
  }
  
  .top-button2 {
    border-radius: 15px;
    width: 200px;
    height: 40px;
    margin-top: -40px;
  }
  
  button {
    margin-top: 20px;
    padding: 5px 10px;
    font-size: 1.5rem;
    background-color: rosybrown;
    border-radius: 30px;
  }
  
  .button-wrapper {
    margin-left: 500px;
    margin-top: 110px;
  }
  
  /* Media queries for responsiveness */
  @media screen and (max-width: 768px) {
    .logo-wrapper,
    .top-bar,
    .button-wrapper {
      margin: 0;
    }
  
    .header {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .top-button2 {
      width: 200px;
      height: 50px;
      margin-right: 20px;
      /*left: auto;*/
      /*right: 3%;*/
    }
  }
  