body {
    background-color: #000;
    color: #fff;
    margin: 0;
    font-family: 'Arial', sans-serif; 
  }

.planner-dashboard {
    padding: 20px;
    height: 100vh;
  }
  
  .talent-list {
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
    left: 100px;
    right: 10px;
  }

  .move-talent-list {
    position: absolute;
    right: 0%;
    padding-left: 0%;
  }

  .move-talent-card {
    left: 20px;
    right: 50px;
  }
  
  .talent-card {
    border: 1px solid #ddd;
    padding: 60px;
    text-align: center;
    background-color: rgba(59, 52, 52, 0.514);
    border-radius: 20px;
  }
  
  .talent-card img {
    width: 100%;
    height: 170px;
    object-fit: cover;
    padding-left: 50px;
    padding-right: 50px;
  }

  h2 {
    color: #fff;
    font-size: 3rem;
  }

  h3 {
    font-size: 1.5rem;
    color: #fff
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo {
    height: 50px;
    margin-left: 0px;
}

.logo-wrapper {
    margin-right: 1500px;
}
  
.top-bar {
    display: flex;
    margin-left: 1px;
    margin-right: 50%;
}
  
.nav-burna {
    width: 99%;
    padding-left: 10px;
}

button {
    font-size: 1.5rem;
    background-color:rosybrown;
    border-radius: 20px;
}