body {
    background-color: #000;
    color: #fff;
    margin: 0;
    font-family: 'Arial', sans-serif;
  }

  button:hover {
    background-color: #fff;
    color: #000;
  }
  
  .welcome-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  h1 {
    color: #fff;
    font-size: 4.5rem;
  }
  
  .move-welcome {
    margin-left: 1%; 
  }
  
  .input-section {
    font-size: 2.1rem;
  }
  
  input {
    color: #000;
    font-size: 1.8rem;
    width: 100%; 
    padding: 8px;
    box-sizing: border-box;
    border-radius: 15px;
  }
  
  .role-selection {
    margin-top: 20px; 
    font-size: 1.8rem;
  }
  
  .move-select-role {
    bottom: 15%;
  }
  
  .role-text-container {
    color: #fff;
  }

  .already-text {
    color: #fff;
  }

  .move-planner button {
  background-color: #fff;
  color: black;
  padding: 15px 60px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
}

.move-talent button {
  background-color: #fff;
  color: black;
  padding: 15px 66px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
}

.move-planner button:hover,
.move-talent button:hover {
  background-color: #fff; /* Set the hover background color */
  color: #913906; /* Set the hover text color */
}

/* Styles for the selected role buttons */
.move-planner button.selected,
.move-talent button.selected {
  background-color: #fff;
}
  p {
    font-size: 1.5rem;
  }
  
  .login-section {
    margin-top: 20px; 
  }
  
  .move-continue {
    margin-bottom: 60%; 
    padding-left: 0%;
    padding-right: 5%;
  }

  .continue-button {
    background-color:  #913906;
    color: #fff;
    border-radius: 15px;
  }

  .login-link {
    color:  #913906;
  }
  @media screen and (max-width: 768px) {
    .welcome-container {
      padding: 10px; /* Adjust the padding for smaller screens */
    }
   
    
  }