/* BookingPage.css */

/* Styles for the outer container */
.booking-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 100px;
}

/* Styles for the image section */
.image-section {
    flex: 1;
    justify-content: center;
}

.image {
    width: 90%;
    height: 100%;
    margin-bottom: 10px;
    margin-right: 5px;
    font-size: 1.9rem;
}

/* Styles for the calendar section */
.calendar-section {
    flex: 1;
    padding: 20px;
    height: 50vh;
    margin-right: 100px;
}

h2 {
    text-align: center;
    color: rgb(247, 245, 245);
    margin-bottom: 20px;
    font-size: 1.8rem;
}

.calender-container{
    flex: 1;
    padding: 20px;
    margin-left: 5px;
}

.both-container {
    display: flex;
    flex-direction: row;
    margin-left: 200px;
}

/* Additional styles for the calendar */
.rbc-calendar {
    height: 500px;
    margin: 0;
    width: 1000;
    margin-top: 0px;
    background-color: black;
    border: 1px solid;
}

.rbc-event {
    background-color: pink; /* Change the background color of events */
  }

/* Styles for the logo and buttons */
.logo {
    height: 50px;
    margin-left: 0px;
    /* margin-right: 0px; */
    padding: 10px;
    justify-content: flex-start;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    background-color: #000;
    position: absolute;
    width: 85%;
    margin-left: 0%;
    top: 0;
    z-index: 1000;
}

.top-buttons {
    display: flex;
}

.top-button,
.top-button2 {
    margin-left: 10px;
    /* Add additional styling as needed */
}
