.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .welcome-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
  }
  
  .header {
    display: flex;
    align-items: center;
    justify-content: center; /* Align items to the right */
    width: 100%;
    position: fixed; /* Fix the header position at the top */
    top: 0; /* Align at the top */
    padding: 20px; /* Add padding for better visibility */
    z-index: 1000;
  }
  
  .logo {
    width: 200px; /* Adjust the size as needed */
  }
  
  .header-button,
  .header-button2 {
    color: #fff;
    text-decoration: none;
    margin-left: 1500px; /* Adjust the margin for spacing */
  }
  
  .header-button2 {
    margin-left: 20px; /* Increase the margin to separate buttons */
  }
  
  
  