body {
    background-color: #000;
    color: #fff;
    margin: 0;
    font-family: 'Arial', sans-serif; 
  }


.talent-container {
    position: relative;
    width: 100%;
    text-align: center;
    margin: auto;
    height: 100vh;
  }
  
  .profile-pic {
    width: 250px; 
    height: 300px;
    border-radius: 100%; 
    margin-right: 1200px;
  }

  .profile-container {
    margin-right: 1200px;
  }

  h2 {
    font-size: 3rem;
    color: #fff;
    margin-top: 10px;
  }

  .name-container {
    margin-bottom: 0px;
  }

  p {
    font-size: 1.5rem;
    color: #f19696;
    margin-right: 100px;
    margin-top: 0px;
  }

  h3 {
    color: #fff;
  }

  .move-name {
    position: absolute;
    top: 30%;
    left: 10%;
  }

  .move-description{
    position: absolute;
    top: 38%;
    left: 10%;
  }

  .move-button {
    position: absolute;
    top: 40%;
    left: 11%;
  }

  .edit-button-container {
    font-size: 1.5rem;
    margin-right: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
    padding-left: 10px;
  }

  .manage-bookings-container {
    position: absolute;
    top: 53%;
    right: 75%;
  }

  .top-right-container {
    position: absolute;
    right: 72%;
    top: 5%;
  }

  button {
    background-color: rosybrown;
    font-size: 1.5rem;
    margin-top: 20px;
    border-radius: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .portfolio-container {
    position: relative;
    height: 50vh;
  }

  .border-portfolio-container {
    
    border: none #1a0404; 
    padding: 10px;
    background-color: #1a0404;
    height: 45vh;
    width: 100vh;
    border-radius: 30px;
    margin-left: 135%;
    top: 20%;
  }

  .image-container {
    position: relative;
    width: 100%; 
    right: 25%;
    bottom: 5%;
  }
  
  .sportify {
    width: 20%; 
    height: 50px;
  }
  
  .overlay-text {
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
    color: white; 
    font-size: 25px; 
  }

  .image-container2 {
    position: relative;
    width: 100%; 
    right: 25%;
  }
  
  .youtube {
    width: 20%; 
    height: 50px;
  }
  
  .overlay-text2 {
    position: absolute;
    top: 50%;
    left: 81%;
    transform: translate(-50%, -50%);
    color: white; 
    font-size: 25px; 
  }

  .image-container3 {
    position: relative;
    width: 100%; 
    right: 25%;
    top: 5%;
  }
  
  .apple {
    width: 20%; 
    height: 50px;
  }
  
  .overlay-text3 {
    position: absolute;
    top: 50%;
    left: 79%;
    transform: translate(-50%, -50%);
    color: white; 
    font-size: 25px; 
  }

  .image-container4 {
    position: relative;
    width: 100%; 
    right: 25%;
    top: 10%;
  }
  
  .audiomack {
    width: 20%; 
    height: 50px;
  }
  
  .overlay-text4 {
    position: absolute;
    top: 50%;
    left: 83%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 25px;
  }

  .booking-container {
    position: absolute;
    top: 155%;
    left: 0px;
  }

  .accepted-booking-container {
    position: absolute;
    top: 36%;
    left: 5%;
    font-size: 1.5rem;
    color: #fff;
  }

  .show-all-container {
    position: absolute;
    top: 45%;
    left: 100%;
    font-size: 0rem;
  }

  .eldorado-container {
    position: absolute;
    top: 46%;
    left: 5%;
  }

  .eldorado-pic {
    width: 240px;
  }

  .eldorado-name-container {
    position: absolute;
    top: 83%;
    right: 82%;
    color: #fff;
  }

  .planner-container {
    position: absolute;
    top: 84%;
    right: 74%
  }

  .border-booking {
    background-color: #063510;
    border: 1px solid #063510; 
    padding: 50%; 
    margin-top: 250px;
    margin-left: 50px;
    margin-bottom: 10px;
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 1470px;
    border-radius: 20px;
    padding-right: 9%;
    height: 13vh;
    width: 5%;
  }

  .move-border {
    position: absolute;
    right: 14%;
    top: 34%;
  }

  .eldorado-reschedule-button {
    position: absolute;
    right: 88%;
    font-size: 1rem;
    top: 85%;
  }

  .reschedule-button {
    padding: 8px 5px; 
    font-size: 10px;
    border-radius: 5px;
    background-color: #fff;
  }

  .eldorado-contact-button {
    position: absolute;
    right: 80%;
    font-size: 1rem;
    top: 85%;
  }

  .contact-button {
    padding: 8px 5px; 
    font-size: 10px;
    border-radius: 5px;
    background-color: #fff;
  }

  .eldorado-para {
    color: #fff;
  }

  .planner-para {
    font-size: 1rem;
  }

  .move-border2 {
    position: absolute;
    right: 14%;
    top: 85%;
  }

  .border-booking2 {
     background-color: #4b0303cb;
     border: 1px solid #4b0303cb; /* You can customize the border style, color, and width */
     padding: 50%; 
     margin-top: 250px;
     margin-left: 50px;
     margin-bottom: 10px;
     padding-top: 10%;
     padding-bottom: 10%;
     padding-left: 1470px;
     border-radius: 20px;
     padding-right: 9%;
     height: 13vh;
     width: 5%;
   }

   .declined-booking-container2 {
    position: absolute;
    top: 36%;
    left: 5%;
    font-size: 1.5rem;
    color: #fff;
  }

  .nini-container {
    position: absolute;
    top: 46%;
    left: 5%;
  }

  .nini-pic {
    width: 240px;
  }
  
  .nini-name-container {
    position: absolute;
    top: 83%;
    right: 85%;
    color: #fff;
  }

  .nini-para {
    color: #fff;
  }

  .planner-container2 {
    position: absolute;
    top: 84%;
    right: 74%
  }

  .planner-para2 {
    font-size: 1rem;
  }

  .show-all-container2 {
    position: absolute;
    top: 45%;
    left: 100%;
    font-size: 0rem;
  }

  .nini-accept-button {
    position: absolute;
    right: 89%;
    font-size: 1rem;
    top: 85%;
  }

  .reschedule-button2 {
    padding: 8px 5px; /* Example padding */
    font-size: 10px;
    border-radius: 5px;
    background-color: #fff;
  }

  .nini-contact-button {
    position: absolute;
    right: 80%;
    font-size: 1rem;
    top: 85%;
  }

  .contact-button2 {
    padding: 8px 5px; /* Example padding */
    font-size: 10px;
    border-radius: 5px;
    background-color: #fff;
  }

  .move-border3 {
    position: absolute;
    right: 14%;
    top: 136%;
  }

  .border-booking3 {
     background-color: #063510;
     border: 1px solid #063510; /* You can customize the border style, color, and width */
     padding: 50%; 
     margin-top: 250px;
     margin-left: 50px;
     margin-bottom: 10px;
     padding-top: 10%;
     padding-bottom: 10%;
     padding-left: 1470px;
     border-radius: 20px;
     padding-right: 9%;
     height: 13vh;
     width: 5%;
   }

   .pending-booking-container3 {
    position: absolute;
    top: 36%;
    left: 5%;
    font-size: 1.5rem;
    color: #fff;
  }

  .sydney-container {
    position: absolute;
    top: 46%;
    left: 5%;
  }

  .sydney-pic {
    width: 240px;
  }
  
  .sydney-name-container {
    position: absolute;
    top: 83%;
    right: 83%;
    color: #fff;
  }

  .sydney-para {
    color: #fff;
  }

  .comedian-container {
    position: absolute;
    top: 84%;
    right: 74%
  }

  .comedian-para {
    font-size: 1rem;
  }

  .show-all-container3 {
    position: absolute;
    top: 45%;
    left: 100%;
    font-size: 0rem;
  }

  .sydney-accept-button {
    position: absolute;
    right: 89%;
    font-size: 1rem;
    top: 85%;
  }

  .reschedule-button3 {
    padding: 8px 5px; /* Example padding */
    font-size: 10px;
    border-radius: 5px;
    background-color: #fff;
  }

  .sydney-contact-button {
    position: absolute;
    right: 80%;
    font-size: 1rem;
    top: 85%;
  }

  .contact-button3 {
    padding: 8px 5px; /* Example padding */
    font-size: 10px;
    border-radius: 5px;
    background-color: #fff;
  }

  

  
