body {
    background-color: #000;
    color: #fff;
    margin: 0;
    font-family: 'Arial', sans-serif; 
  }


.talent-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100vh;
  }

  .move-profile-pic {
   margin-top: 20px;
  }
  
  .profile-pic {
    width: 250px; 
    height: 300px;
    border-radius: 100%; 
  }

  .profile-container {
   margin-top: 20px;
  }

  h2 {
    font-size: 3rem;
    color: #fff;
    margin-top: 10px;
  }

  .name-container {
    margin-top: 10px;
    
  }

  .description {
    font-size: 1.5rem;
  } 

  .move-description {
    margin-top: 0px;
   }

  h3 {
    color: #fff;
  }

.manage-bookings-container {
  margin-right: 70%;
}

  /* Add border styles for different IDs */
.move-border {
  border: 2px solid #000; /* Default border */
  padding: 10px;
  border-radius: 15px;
  padding-right: 1500px;
  margin-bottom: 20px;
}

.move-border-1 {
  border-color: rgb(4, 161, 75); /* Border for ID 1 */
  background-color: rgb(4, 161, 75);
}

.move-border-2 {
  border-color: rgb(14, 107, 64); /* Border for ID 2 */
  background-color: rgb(14, 107, 64);
}

.move-border-3 {
  border-color: rgb(8, 80, 8); /* Border for ID 3 */
  background-color: rgb(8, 80, 8);
}

.move-border-4 {
  border-color: rgb(185, 22, 22); /* Border for ID 4 */
  background-color: rgb(185, 22, 22);
}

/* Styling for booking components */
.border-booking {
  padding: 20px;
  margin-bottom: 20px;
}

.booking-container {
  margin-bottom: 10px;
}

.heading {
  font-size: 18px;
  font-weight: bold;
}

.image-container {
  text-align: center;
}

.image {
  max-width: 100%;
  height: auto;
}

.name-container {
  text-align: center;
}

.button-container {
  text-align: center;
}

.booking-button {
  background-color: #913906;
  color: #fff;
  border-radius: 10px;
  font-size: 1.2rem;
  margin-top: 10px;
  padding: 10px 20px;
}

.booking-button-paid {
  background-color: #913906; /* Paid booking button color */
}

.booking-button-accepted {
  background-color: #913906; /* Accepted booking button color */
}

.booking-button-pending {
  background-color: #913906; /* Pending booking button color */
}

.booking-button-declined {
  background-color: #913906; /* Declined booking button color */
}


  @media screen and (max-width: 768px) {
    .profile-container {
      margin-right: 0;
    }
  
    h2 {
      font-size: 1.7rem;
    }
  
    .move-description {
      margin-top: 20px;
    }
  
    .border-booking {
      width: 90%;
    }
  
    .manage-bookings-container {
      margin-top: 10px;
    }
  } 