body {
    background-color: #000;
    color: #fff;
    margin: 0;
    font-family: 'Arial', sans-serif; 
  }


.talent-container {
    position: relative;
    width: 100%;
    text-align: center;
    margin: auto;
    height: 100vh;
  }

  .move-profile-pic {
    position: absolute;
    left: 43%
  }
  
  .profile-pic {
    width: 250px; 
    height: 300px;
    border-radius: 100%; 
    margin-right: 1200px;
  }

  .profile-container {
    margin-right: 1200px;
  }

  h2 {
    font-size: 3rem;
    color: #fff;
    margin-top: 10px;
  }

  .name-container {
    position: absolute;
    left: 44%;
    bottom: 61%;
    
  }

  p {
    font-size: 1.5rem;
    color: #f19696;
    margin-right: 100px;
    margin-top: 0px;
  }

  h3 {
    color: #fff;
  }

  .style-edit-profile {
    background-color:  #913906;
    color: #fff;
    border-radius: 15px;
  }

  .manage-bookings-container {
    position: absolute;
    top: 44%;
    right: 76%;
  }

  .move-border {
    position: absolute;
    right: 20%;
    top: 25%;
  }

  .border-booking {
    background-color: #0c8826;
    border: 1px solid #0c8826; 
    padding: 50%; 
    margin-top: 250px;
    margin-left: 50px;
    margin-bottom: 10px;
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 1472px;
    border-radius: 15px;
    padding-right: 15%;
    height: 13vh;
    width: 5%;
  }

  .show-all-container {
    position: absolute;
    top: 45%;
    left: 110%;
  }

  .accepted-booking-container {
    position: absolute;
    top: 36%;
    left: 5%;
    font-size: 1.5rem;
    color: #fff;
  }

  .top-right-container {
    position: absolute;
    right: 72%;
    top: 5%;
  }

  .portfolio-container {
    position: relative;
    height: 50vh;
  }

  /* .border-portfolio-container {
    
    border: none #1a0404; 
    padding: 10px;
    background-color: #1a0404;
    height: 45vh;
    width: 100vh;
    border-radius: 30px;
    margin-left: 135%;
    top: 20%;
  } */

  .edit-button-container {
   left: 50px;
  }

  .image-container {
    position: relative;
    width: 100%; 
    right: 25%;
    bottom: 5%;
  }
  
  /* .sportify {
    width: 20%; 
    height: 50px;
  }
  
  .overlay-text {
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
    color: white; 
    font-size: 25px; 
  }

  .image-container2 {
    position: relative;
    width: 100%; 
    right: 25%;
  }
  
  .youtube {
    width: 20%; 
    height: 50px;
  }
  
  .overlay-text2 {
    position: absolute;
    top: 50%;
    left: 81%;
    transform: translate(-50%, -50%);
    color: white; 
    font-size: 25px; 
  }

  .image-container3 {
    position: relative;
    width: 100%; 
    right: 25%;
    top: 5%;
  }
  
  .apple {
    width: 20%; 
    height: 50px;
  }
  
  .overlay-text3 {
    position: absolute;
    top: 50%;
    left: 79%;
    transform: translate(-50%, -50%);
    color: white; 
    font-size: 25px; 
  }

  .image-container4 {
    position: relative;
    width: 100%; 
    right: 25%;
    top: 10%;
  }
  
  .audiomack {
    width: 20%; 
    height: 50px;
  }
  
  .overlay-text4 {
    position: absolute;
    top: 50%;
    left: 83%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 25px;
  } */

  .booking-container {
    position: absolute;
    top: 155%;
    left: 0px;
  }

  .jazzconcert-container {
    position: absolute;
    top: 46%;
    left: 5%;
  }

  .jazzconcert-pic {
    width: 240px;
  }

  .jazzconcert-name-container {
    position: absolute;
    top: 83%;
    right: 79%;
    color: #fff;
  }

  .jazzconcert-para {
    color: #fff;
  }

  .jazzconcert-para2 {
    position: absolute;
    color: #f19696;
    font-size: 1rem;
    top: 50%;
  }

  .view-details-button {
    position: absolute;
    right: 82%;
    color: #fff;
    border-radius: 10px;
    top: 87%;
    font-size: 1.2rem;
  }

  .move-border2 {
    position: absolute;
    right: 20%;
    top: 73%;
  }

  .border-booking2 { 
    background-color: #0a6612cb;
    border: 1px solid #0a6612cb;
     padding: 50%; 
     margin-top: 250px;
     margin-left: 50px;
     margin-bottom: 10px;
     padding-top: 10%;
     padding-bottom: 10%;
     padding-left: 1470px;
     border-radius: 15px;
     padding-right: 15%;
     height: 13vh;
     width: 5%;
   }

   .declined-booking-container2 {
    position: absolute;
    top: 36%;
    left: 5%;
    font-size: 1.5rem;
    color: #fff;
  }

  .jazzconcert2-container {
    position: absolute;
    top: 46%;
    left: 5%;
  }

  .jazzconcert2-pic {
    width: 240px;
  }
  
  .jazzconcert2-name-container {
    position: absolute;
    top: 83%;
    right: 79%;
    color: #fff;
  }

  .jazzconcert2-para {
    color: #fff;
  }

  .jazzconcert2-para2 {
    position: absolute;
    color: #f19696;
    font-size: 1rem;
    top: 50%;
  }
  
  .view-details-button2 {
    position: absolute;
    right: 82%;
    color: #fff;
    border-radius: 10px;
    top: 87%;
    font-size: 1.2rem;
  }

  /* .show-all-container2 {
    position: absolute;
    top: 45%;
    left: 110%;
  } */

  .move-border3 {
    position: absolute;
    right: 20%;
    top: 121%;
  }

  .border-booking3 {
    background-color: #063510;
    border: 1px solid #063510;
    padding: 50%; 
     margin-top: 250px;
     margin-left: 50px;
     margin-bottom: 10px;
     padding-top: 10%;
     padding-bottom: 10%;
     padding-left: 1470px;
     border-radius: 15px;
     padding-right: 15%;
     height: 13vh;
     width: 5%;
   }

   .pending-booking-container3 {
    position: absolute;
    top: 36%;
    left: 5%;
    font-size: 1.5rem;
    color: #fff;
  }

  .jazzconcert3-container {
    position: absolute;
    top: 46%;
    left: 5%;
  }

  .jazzconcert3-pic {
    width: 240px;
  }
  
  .jazzconcert3-name-container {
    position: absolute;
    top: 83%;
    right: 79%;
    color: #fff;
  }

  .jazzconcert3-para {
    color: #fff;
  }

  .jazzconcert3-para3 {
    position: absolute;
    color: #f19696;
    font-size: 1rem;
    top: 50%;
  }

  .view-details-button3 {
    position: absolute;
    right: 82%;
    color: #fff;
    border-radius: 10px;
    top: 87%;
    font-size: 1.2rem;
  }

  .jazzconcert4-container {
    position: absolute;
    top: 46%;
    left: 5%;
  }

  .jazzconcert4-pic {
    width: 240px;
  }
  
  .jazzconcert4-name-container {
    position: absolute;
    top: 83%;
    right: 79%;
    color: #fff;
  }

  .jazzconcert4-para {
    color: #fff;
  }

  .jazzconcert4-para4 {
    position: absolute;
    color: #f19696;
    font-size: 1rem;
    top: 50%;
  }

  .view-details-button4 {
    position: absolute;
    right: 82%;
    color: #fff;
    border-radius: 10px;
    top: 87%;
    font-size: 1.2rem;
  }
   
  .border-booking4 {
    background-color: #4b0303cb;
    border: 1px solid #4b0303cb;
    padding: 50%; 
     margin-top: 250px;
     margin-left: 50px;
     margin-bottom: 10px;
     padding-top: 10%;
     padding-bottom: 10%;
     padding-left: 1470px;
     border-radius: 15px;
     padding-right: 15%;
     height: 13vh;
     width: 5%;
   }

   .move-border4 {
    position: absolute;
    right: 20%;
    top: 169%;
  }

  /* .show-all-container3 {
    position: absolute;
    top: 45%;
    left: 110%;
  } */

  .move-description {
    position: absolute;
    left: 47%;
    bottom: 60%;
  }

  .move-button {
    position: absolute;
    left: 46%;
    bottom: 55%;
  }

/*   
  @media screen and (max-width: 768px) {
    .move-profile-pic,
    .move-name,
    .move-description,
    .move-button,
    .name-container {
      position: static; 
      left: auto; 
      top: auto;
      text-align: center; 
      margin: 10px 0; 
    }
  
    .move-profile-pic {
      position: absolute;
      left: 19%;
      bottom: 70%;
    }
  
    .move-name {
    }

    .name-container {
      position: absolute;
      left: 24%;
      top: 23%;
    }
  }
  */

  @media screen and (max-width: 768px) {
    .move-profile-pic,
    .move-name,
    .move-border,
    .move-border2,
    .move-border3 {
      position: static;
      left: auto;
      top: auto;
      text-align: center;
      margin: 10px 0;
    }

    .move-profile-pic {
      position: relative;
      left: 15%;
      right: auto;
      margin-bottom: 20px;
    }

    .name-container {
      position: absolute;
      top: 32%;
      right: 26%;
      left: 15%;
    }

    h2{
      font-size: 1.7rem;
    }
    
    .move-description{
      position: absolute;
      left: 30%;
      top: 36%;
    }

    .move-border2,
    .move-border3 {
      position: static;
      right: auto;
      top: auto;
      margin: 20px 0;
    }
    
    .move-border {
      position: absolute;
      top: 30%;
    }
    
    /* .border-booking2,
    .border-booking3 {
      padding: 10%;
      margin-left: 0;
      margin-right: 0;
      padding-left: 15%;
      padding-right: 15%;
    } */

    .manage-bookings-container{
      position: absolute;
      left: 10%;
      top: 37%;
    }

    .border-booking {
      position: absolute;
      padding: 15%;
      top: 50%;
      height: 50%;
      width: 50%;
      right: 20%;
    }
  }
