body {
    background-color: #000;
    color: #fff;
    margin: 0;
    font-family: 'Arial', sans-serif; /* Adjust the font-family as needed */
}

.talent-portfolio {
  display: flex;
  justify-content: space-around; /* Adjust as needed */
  align-items: center;
  flex-wrap: wrap; /* Allow talents to wrap to the next line */
}